Makefile
config.cache
config.guess
config.log
config.status
config.sub
depcomp
install-sh
missing
mkinstalldirs
*.o
.cproject
.dep.inc
.idea/
.metadata/
.project
*.in
*.mk
*.iml
aclocal.m4
autom4te.cache
configure
nbproject
*.pyc
